<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.elasticsearch.client.rest-client" xmlns="urn:jboss:module:1.9">

    <properties>
        <!-- Direct access to the Elasticsearch client is allowed in WildFly,
             though it may not be supported by product vendors
             (because its APIs could change without prior notice). -->
        <property name="jboss.api" value="public"/>
    </properties>

    <resources>
        <resource-root path="elasticsearch-rest-client-8.15.4.jar"/>
        <resource-root path="elasticsearch-rest-client-sniffer-8.15.4.jar"/>
    </resources>

    <dependencies>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.commons.codec" export="true"/>
        <module name="org.apache.httpcomponents" export="true" services="export"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
    </dependencies>
</module>
