<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.jaxbintros" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="jboss-jaxb-intros-2.0.1.jar"/>
    </resources>

    <dependencies>
        <module name="jakarta.xml.bind.api"/>
        <module name="org.glassfish.jaxb" services="import"/>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.commons.beanutils"/>
        <module name="java.xml"/>
    </dependencies>
</module>
