<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.eclipse.krazo.resteasy" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="preview"/>
    </properties>

    <resources>
        <resource-root path="krazo-resteasy-3.0.1.jar"/>
    </resources>
    
    <dependencies>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.interceptor.api"/>
        <module name="jakarta.mvc.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.validation.api"/>
        <module name="jakarta.ws.rs.api"/>
        <module name="org.eclipse.krazo.core"/>
        <module name="org.jboss.resteasy.resteasy-core"/>
        <module name="org.jboss.resteasy.resteasy-core-spi"/>
        <module name="org.jboss.resteasy.resteasy-validator-provider"/>
    </dependencies>
</module>
