<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.as.patching" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-patching-28.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.xml"/>
        <module name="org.jboss.as.cli" optional="true"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.controller-client"/>
        <module name="org.jboss.as.version"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.security.elytron-private"/>
    </dependencies>
</module>
