<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.infinispan.query.client" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="infinispan-remote-query-client-15.1.7.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.infinispan.commons"/>
        <!-- Required by org.infinispan.query.remote.client.impl.MarshallerRegistration.getProtoFile -->
        <module name="org.infinispan.protostream" export="true"/>
    </dependencies>

</module>
