<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.as.domain-http-error-context" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-domain-http-error-context-28.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <!-- Do not add dependencies to the error context as resources in any
             dependencies could be served up through the HTTP interface. -->
    </dependencies>
</module>
