<?xml version="1.0" encoding="UTF-8"?>
<module name="org.eclipse.tradista.net.sf.tweety.plugin"
	xmlns="urn:jboss:module:1.9">

	<resources>
		<resource-root path="plugin-1.17.jar" />
	</resources>

	<dependencies>
		<module name="org.eclipse.tradista.net.sf.tweety.math"
			export="true" />
		<module name="org.eclipse.tradista.jspf.core" export="true" />
	</dependencies>

</module>