<?xml version="1.0" encoding="UTF-8"?>
<module name="org.eclipse.tradista.com.dbtsai.lbfgs.lbfgs"
	xmlns="urn:jboss:module:1.9">

	<resources>
		<resource-root path="lbfgs-0.1.jar" />
	</resources>

	<dependencies>
		<module
			name="org.eclipse.tradista.org.scala-lang.scala-library"
			export="true" />
	</dependencies>

</module>