<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.projectodd.vdx" xmlns="urn:jboss:module:1.9">
  <properties>
    <property name="jboss.api" value="private"/>
  </properties>

  <resources>
    <resource-root path="vdx-core-1.1.6.jar"/>
    <resource-root path="vdx-wildfly-1.1.6.jar"/>
  </resources>

  <dependencies>
    <module name="java.xml"/>
    <module name="org.jboss.logging"/>
  </dependencies>
</module>
