<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.infinispan.commons" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="infinispan-commons-15.1.7.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.security.sasl"/>
        <module name="java.xml"/>
        <module name="jakarta.transaction.api"/>

        <module name="com.github.ben-manes.caffeine"/>
        <module name="io.reactivex.rxjava3.rxjava"/>
        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.logging"/>
        <module name="org.reactivestreams"/>
        <module name="jdk.unsupported"/>
    </dependencies>
</module>
