<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<!-- Hibernate Search Pojo-base Mapper: base code for mappers such as org.hibernate.search.mapper.orm -->
<module name="org.hibernate.search.mapper.pojo" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="hibernate-search-mapper-pojo-base-7.2.3.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.logging"/>
        <module name="io.smallrye.jandex"/>
        <module name="java.sql" export="true"/> <!-- For java.sql.Date, etc. -->
        <module name="org.hibernate.search.engine" export="true"/>
        <module name="org.hibernate.commons-annotations" export="true"/>
    </dependencies>
</module>
