<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.xnio.nio" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="xnio-nio-3.8.16.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.xnio"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>
