<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="jakarta.xml.soap.api" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="jboss-saaj-api_3.0_spec-1.0.0.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="jakarta.activation.api" export="true"/>
        <module name="org.eclipse.angus.activation" services="export" export="true"/>
        <module name="org.jboss.modules"/>
        <module name="java.xml"/>
    </dependencies>
</module>
