<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.as.console" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="hal-console-3.7.11.Final-resources.jar"/>
    </resources>

    <dependencies>
        <!-- Do not add dependencies to the console as resources in any
             dependencies could be served up through the HTTP interface. -->
    </dependencies>
</module>
