<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="io.agroal" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="agroal-api-2.0.jar"/>
        <resource-root path="agroal-narayana-2.0.jar"/>
        <resource-root path="agroal-pool-2.0.jar"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="java.security.jgss"/>
        <module name="java.sql"/>
        <module name="java.transaction.xa"/>
        <module name="jakarta.transaction.api"/>
        <module name="org.jboss.jboss-transaction-spi"/>
    </dependencies>
</module>
