<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.clustering.marshalling.protostream" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-clustering-marshalling-protostream-6.0.4.Final.jar"/>
        <resource-root path="wildfly-clustering-marshalling-protostream-36.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.sql"/>

        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.wildfly.clustering.marshalling.spi"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>
