<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.infinispan.objectfilter" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="infinispan-objectfilter-15.1.7.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.infinispan.protostream"/>
        <module name="org.infinispan.query.dsl"/>
        <module name="org.jboss.logging"/>
    </dependencies>

</module>
