<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.apache.sshd" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="sshd-common-2.15.0.jar"/>
        <resource-root path="sshd-core-2.15.0.jar"/>
    </resources>

    <dependencies>
        <module name="org.bouncycastle.bcpg"/>
        <module name="org.bouncycastle.bcpkix"/>
        <module name="org.bouncycastle.bcprov"/>
        <module name="org.slf4j"/>
        <module name="org.slf4j.impl"/>
        <module name="java.logging"/>
        <module name="java.rmi"/>
        <module name="java.management"/>
    </dependencies>
</module>
