<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.as.management-client-content" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-management-client-content-28.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.deployment-repository"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="org.jboss.dmr"/>
    </dependencies>
</module>
