<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="io.netty.netty-resolver-dns" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="netty-resolver-dns-4.1.119.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.naming"/>
        <module name="io.netty.netty-buffer"/>
        <module name="io.netty.netty-codec"/>
        <module name="io.netty.netty-codec-dns"/>
        <module name="io.netty.netty-common"/>
        <module name="io.netty.netty-handler"/>
        <module name="io.netty.netty-resolver"/>
        <module name="io.netty.netty-transport"/>
    </dependencies>
</module>
