<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="com.github.fge.msg-simple" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="msg-simple-1.1.jar"/>
    </resources>

    <dependencies>
        <module name="com.github.fge.btf" export="true"/>
    </dependencies>
</module>
