<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.bouncycastle.bcprov" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="bcprov-jdk18on-1.80.jar"/>
    </resources>
    <provides>
        <service name="java.security.Provider">
            <with-class name="org.bouncycastle.jce.provider.BouncyCastleProvider"/>
            <with-class name="org.bouncycastle.pqc.jcajce.provider.BouncyCastlePQCProvider"/>
        </service>
    </provides>
    <dependencies>
        <module name="java.naming"/>
        <module name="java.sql"/>
        <module name="java.logging"/>
    </dependencies>
</module>
