<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.as.protocol" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <exports>
        <exclude path="org/jboss/as/protocol/logging"/>
    </exports>

    <resources>
        <resource-root path="wildfly-protocol-28.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.xml"/>
        <module name="org.wildfly.common"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.remoting"/>
        <module name="org.jboss.threads"/>
        <module name="org.wildfly.security.elytron-private"/>
    </dependencies>
</module>
