<?xml version="1.0" encoding="UTF-8"?>
<module name="org.eclipse.tradista.net.sf.tweety.logics.pl"
	xmlns="urn:jboss:module:1.9">

	<resources>
		<resource-root path="pl-1.12.jar" />
	</resources>

	<dependencies>
		<module name="org.eclipse.tradista.org.ow2.sat4j.core"
			export="true" />
		<module name="org.eclipse.tradista.net.sf.tweety.logics.fol"
			export="true" />
		<module name="org.eclipse.tradista.net.sf.tweety.math"
			export="true" />
	</dependencies>

</module>