<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.discovery" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-discovery-client-1.3.0.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.xml"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.wildfly.client.config"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>
