<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.ws.spi" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="jbossws-spi-5.0.0.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.xml"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.xml.ws.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.ws.api"/>
        <module name="org.jboss.as.webservices"/>
    </dependencies>

</module>
