<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.reactive.mutiny.reactive-streams-operators.cdi-provider" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-microprofile-reactive-streams-operators-cdi-provider-36.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="jakarta.enterprise.api"/>
        <module name="org.eclipse.microprofile.reactive-streams-operators.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.spi"/>
        <module name="org.jboss.weld.api"/>
        <module name="org.reactivestreams"/>
    </dependencies>
</module>
