<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.clustering.singleton.api" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="wildfly-clustering-singleton-api-36.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.msc"/>
        <module name="org.wildfly.clustering.server.api"/>
        <module name="org.wildfly.clustering.service" export="true"/>
        <module name="org.wildfly.service" export="true"/>
    </dependencies>
</module>
