<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.as.jsf-injection" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-jsf-injection-36.0.1.Final.jar"/>
        <resource-root path="weld-jsf-5.1.5.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.naming"/>
        <module name="java.desktop"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.jsf"/>
        <module name="org.jboss.as.web-common"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.api"/>

        <!-- added this for MyFacesAnnotationProvider -->
        <module name="jakarta.faces.api"/>
        <module name="jakarta.faces.impl"/>
    </dependencies>
</module>
