<?xml version="1.0" encoding="UTF-8"?>
<module name="org.eclipse.tradista.core.model"
	xmlns="urn:jboss:module:1.9">

	<resources>
		<resource-root path="core-model-3.1.0.jar" />
	</resources>

	<dependencies>
		<module name="org.eclipse.tradista.org.quartz-scheduler.quartz"
			export="true" />
		<module name="org.eclipse.tradista.org.apache.logging.log4j.log4j-slf4j-impl"
			export="true" />
		<module
			name="org.eclipse.tradista.org.apache.commons.commons-lang3"
			export="true" />
		<module
			name="org.eclipse.tradista.org.springframework.spring-context-support"
			export="true" />
		<module name="jakarta.transaction.api" />
	</dependencies>

</module>