<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.eclipse.angus.mail" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="angus-mail-2.0.3.jar"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="java.xml"/>
        <module name="java.security.sasl"/>
        <module name="jakarta.mail.api"/>
        <module name="jakarta.activation.api"/>
    </dependencies>
</module>
