<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="jakarta.jms.api" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="jakarta.jms-api-3.1.0.jar"/>
    </resources>

    <dependencies>
        <module name="jakarta.transaction.api" export="true"/>
    </dependencies>
</module>
