<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.subsystem" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="wildfly-subsystem-28.0.1.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.dmr"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.service"/>
    </dependencies>
</module>
