<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.apache.ws.xmlschema" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="xmlschema-core-2.3.0.jar"/>
    </resources>

    <dependencies>
      <module name="java.xml"/>
    </dependencies>
</module>
