<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jboss.logmanager" xmlns="urn:jboss:module:1.9">
    <resources>
        <resource-root path="jboss-logmanager-2.1.19.Final.jar"/>
    </resources>

    <dependencies>
        <!-- for java.beans -->
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.xml"/>
        <module name="internal.javax.json.api.ee8"/>
        <module name="org.jboss.modules"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>
