<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.clustering.server.spi" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-clustering-server-spi-6.0.4.Final.jar"/>
    </resources>

    <dependencies>
        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.logging"/>
        <module name="org.wildfly.clustering.cache.spi"/>
        <module name="org.wildfly.clustering.marshalling.protostream"/>
        <module name="org.wildfly.clustering.server.api"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>
