<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jgroups.azure" xmlns="urn:jboss:module:1.9">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="jgroups-azure-2.0.2.Final.jar"/>
    </resources>

    <dependencies>
        <module name="com.microsoft.azure.storage"/>
        <module name="org.jgroups"/>
    </dependencies>

</module>
